footer {
    background-image: url(../images/bg-footer.png);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    padding-top: 7px;
    overflow: hidden;
}

.fale-conosco h3 {
    font-family: 'Cronos Pro Semi bold';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 23px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.fale-conosco p {
    color: #fff;
    font-family: 'Cronos Pro';
    font-size: 16px;
    line-height: 19px;

}

footer .nav {
    padding-bottom: 119px;
    list-style-type: circle;
}

footer .nav .titulo {
    font-family: 'Cronos Pro Semi bold';
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
    line-height: 27px;
    color: #231f20;
    text-transform: uppercase;
}

footer .nav a {
    font-family: 'Cronos Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #231f20;
    text-transform: uppercase;
    padding-bottom: 2px;
    padding-left: 0;
}

footer .nav>li>a:focus,
footer .nav>li>a:hover {
    text-decoration: none;
    background-color:
        transparent;
}

footer .cafex {
    margin-top: 63px;
}


@media (max-width: 767.98px) {
    footer {
        background-image: url(../images/bg-footer.png);
        background-position: bottom;
        background-repeat: no-repeat;
        padding-bottom: 5px;
        padding-top: 7px;
    }

    footer .nav {
        padding-bottom: 19px;
    }

    footer .cafex {
        margin-top: 36px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .logo img {
        width: 36%;

    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {}