/* Extra Small */

@media(max-width:767px) {}


/* Small */

@media(min-width:768px) and (max-width:991px) {}


/* Medium */

@media(min-width:992px) and (max-width:1199px) {}


/* Large */

@media(min-width:1200px) {}

.nosso-cafe .cafe {
    margin: 0 auto;
}

.nosso-cafe {
    overflow: hidden;
}

.nosso-cafe h1 {
    font-family: 'Cronos Pro';
    font-weight: normal;
    font-style: normal;
    color: #e6a12d;
    text-align: right;
    margin: 0;
    font-size: 55px;
    line-height: 48px
}

.nosso-cafe h1:nth-of-type(1) {
    padding-right: 21px;
}

.nosso-cafe h1:nth-of-type(2) {
    border-bottom: 3px solid #411b19;
    width: 280px;
    float: right;
    padding-bottom: 10px;
}

.nosso-cafe h3 {
    text-transform: uppercase;
    color: #000;
    font-family: 'Cronos Pro Semi bold';
    font-size: 23px;
    line-height: 23px;
    margin: 0;
}

.nosso-cafe p {
    color: #000;
    font-family: 'Cronos Pro Lt';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 47px;
    max-width: 399px;
}
.nosso-cafe img {
    margin: 0 auto;
}



@media (max-width: 575.98px) {
    .nosso-cafe .cafe {
        width: 50%;
    }

    .nosso-cafe h1 {
        font-size: 40px;
        line-height: 32px;
        text-align: left;
    }

    .nosso-cafe h1:nth-of-type(1) {
        padding-right: 0px;
    }

    .nosso-cafe h1:nth-of-type(2) {
        border-bottom: 3px solid #411b19;
        width: 100%;
        float: left;
        padding-bottom: 10px;
        padding-left: 75px;
    }

    .nosso-cafe h3 {
        font-size: 20px;
        line-height: 20px;
        padding-top: 15px;
    }

    .nosso-cafe p {
        max-width: 100%;
        margin-bottom: 22px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .nosso-cafe .cafe {
        width: 35%;
    }

    .nosso-cafe h1 {
        font-size: 40px;
        line-height: 32px;
        text-align: left;
    }

    .nosso-cafe h1:nth-of-type(1) {
        padding-right: 0px;
    }

    .nosso-cafe h1:nth-of-type(2) {
        border-bottom: 3px solid #411b19;
        width: 100%;
        float: left;
        padding-bottom: 10px;
        padding-left: 75px;
    }

    .nosso-cafe h3 {
        font-size: 20px;
        line-height: 20px;
        padding-top: 15px;
    }

    .nosso-cafe p {
        max-width: 100%;
        margin-bottom: 22px;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {}