.contato .form-control {
    background-color: #fff7e7;
    border: 1px solid #f9bc66;
    height: 53px;
    border-radius: 30px;
    font-family: 'Cronos Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: #464b50;
}

.contato .form-control::placeholder {
    color: #a09f9e;
}


.contato textarea {
    height: 100px !important;
}

.contato h1 {
    font-family: 'Cronos Pro';
    font-weight: normal;
    font-style: normal;
    color: #e6a12d;
    text-align: right;
    margin: 0;
    font-size: 55px;
    text-transform: uppercase;
    line-height: 48px;
    border-bottom: 3px solid #411b19;
    width: 280px;
    float: right;
    padding-bottom: 10px;
}

.contato button {
    background-color: #55021d;
    color: #f8ae47;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    font-family: 'Cronos Pro';
    letter-spacing: 11px;
    border-radius: 20px;
    padding: 9px 14px 9px 29px;
    margin-top: 32px;
}
.contato h3 {
    text-transform: uppercase;
    color: #000;
    font-family: 'Cronos Pro Semi bold';
    font-size: 23px;
    line-height: 27px;
    margin: 0;
    text-align: left;
    max-width: 407px;
    margin-bottom: 30px;
}

/* Extra Small */

@media(max-width:767px) {}


/* Small */

@media(min-width:768px) and (max-width:991px) {}


/* Medium */

@media(min-width:992px) and (max-width:1199px) {}


/* Large */

@media(min-width:1200px) {}