.contato .form-control {
    background-color: #fff7e7;
    border: 1px solid #f9bc66;
    height: 53px;
    border-radius: 30px;
    font-family: 'Cronos Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: #464b50;
}

.contato .form-control::placeholder {

}


.contato textarea {
    height: 150px !important;
}

/* Extra Small */

@media(max-width:767px) {}


/* Small */

@media(min-width:768px) and (max-width:991px) {}


/* Medium */

@media(min-width:992px) and (max-width:1199px) {}


/* Large */

@media(min-width:1200px) {}