footer {
    background-image: url(../images/bg-footer.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 75px;
    padding-top: 7px;
}

.fale-conosco h3 {
    font-family: 'Cronos Pro Semi bold';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 23px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.fale-conosco p {
    color: #fff;
    font-family: 'Cronos Pro';
    font-size: 16px;
    line-height: 19px;
    
}
footer .nav {
    padding-bottom: 75px; 
}

footer .nav .titulo {
    font-family: 'Cronos Pro Semi bold';
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
    line-height: 27px;
    color: #231f20;
    text-transform: uppercase;
}

footer .nav a {
    font-family: 'Cronos Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #231f20;
    text-transform: uppercase;
}