footer {
    background-image: url(../images/bg-footer.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.fale-conosco h3 {
    font-family: 'Cronos Pro Semi bold';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 23px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.fale-conosco p {
    color: #fff;
    font-family: 'Cronos Pro';
    font-size: 16px;
    line-height: 19px;
    
}