.logo {
    width: 100%;
    position: absolute;
    top: 0;
}

.logo img {
    float: left;
    margin-top: 100px;
}

.carousel-inner img {
    margin: 0 auto;
}

@media (max-width: 575.98px) {
    .logo img {
        width: 44%;
        margin-top: 10px !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .logo img {
        width: 36%;
        margin-top: 71px !important;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .logo img {
        width: 36%;

    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {}



.avisos p {
    font-family: 'Cronos Pro';
    font-weight: normal;
    font-style: normal;
    color: #3c3f44;
    font-size: 20px;
    line-height: 35px;
    margin: -280px 0 0 0;
    background: #dccd6b;
    padding: 10px 25px;
    display: block;
    float: right;
}


/* Extra Small */

@media(max-width:767px) {
    .avisos {
        position: relative;
    }

    .avisos p {
        font-size: 16px;
        line-height: 24px;
        padding: 10px;
        text-align: center;
        margin: 0 0 0 0;
    }
}