.pedidos {
    background: url(../images/bg-pedidos.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    padding-top: 40px;
    padding-bottom: 5px;

    .texto,
    a {
        font-family: 'Cronos Pro';
        font-weight: bold;
        font-style: normal;
        font-size: 25px;
        line-height: 25px;
        text-transform: uppercase;
        color: #411916;

        &:hover {
            text-decoration: none;
        }
    }

    .se {
        margin-top: 25px;
    }

    .endereco {
        font-family: 'Cronos Pro';
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        color: #411916;
        margin-top: 30px;
    }
}

footer {
    background: url(../images/bg-cafe.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Extra Small */
@media(max-width:767px) {
    .pedidos {
        background: #fcf2d6;
        background: -moz-linear-gradient(top, #fcf2d6 64%, #cfb67b 100%);
        background: -webkit-linear-gradient(top, #fcf2d6 64%, #cfb67b 100%);
        background: linear-gradient(to bottom, #fcf2d6 64%, #cfb67b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf2d6', endColorstr='#cfb67b', GradientType=0);
        padding-top: 20px;
        padding-bottom: 5px;

        .tt {
            margin: 0 auto;
            max-width: 70%;
        }

        .texto,
        a {
            font-size: 20px;
            line-height: 20px;
        }

        .texto {
            margin-top: 10px;
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}